@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

/*GENERAL STYLES*/

:root {
    --primary-color: #000;
    --secondary-color: #009688;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.green {
    color: var(--secondary-color)
}

.mb-2 {
    margin-bottom: 2rem;
}

body {
    font-family: Lato, sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

li {
    list-style: none;
}

textarea {
    resize: none;
}

/*UTILITY CLASSES*/


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: auto;
}

.py-1 {
    padding: 1.5rem 0
}

.py-2 {
    padding: 2rem 0
}

.py-3 {
    padding: 3rem 0
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.pl-1 {
    padding-left: 2rem;
}

.px-1 {
    padding: 0 1.5rem
}

.px-2 {
    padding: 0 2rem
}

.px-3 {
    padding: 0 3rem
}


.bg-light {
    background: #FFF;
    color: #000;
}

.bg-primary {
    background: var(--primary-color);
    color: #FFF;
}

.bg-secondary {
    background: var(--secondary-color);
    color: #000;
}

.bg-dark {
    background: #333;
    color: #FFF;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-gray {
    color: #AAA;
}


.text-center {
    text-align: center;
}

.l-heading {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.m-heading {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.lead {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.btn {
    color: #FFF;
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    border: none;
}

.btn-light {
    background: var(--secondary-color);
}

.btn:hover {
    background: #CCC;
    transition: background .3s;
    cursor: pointer;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: dotted 1px #444;
}

.ml-1 {
    margin-left: 1rem;
}

.margin-bottom-20 {
    margin-bottom: 2.5rem;
}

.margin-bottom-30 {
    margin-bottom: 3.75rem;
}

.margin-bottom-25 {
    margin-bottom: 3.125rem;
}

.w-100 {
    width: 100%;
}

.margin-right {
    margin-right: 2rem;
}

.no-margin-right {
    margin-right: 0;
}

.circle {
    border-radius: 50%;
}

/*NAVBAR*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

#navbar {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

#navbar ul {
    display: flex;
    list-style: none;
}


#navbar ul li a {
    color: #FFF;
    padding: 1.1rem 1rem;
}

#navbar ul li a:hover {
    background: #FFF;
    color: #000;
    transition: background .3s;
}

#navbar ul li a.bg-gray:hover {
    background: #CCC;
    color: #000;
    transition: background .3s;
}

#navbar ul li.menu-green a:hover {
    background: var(--secondary-color);
    color: #FFF;
}

#navbar .sub-menu {
    position: absolute;
    display: none;
    top: 55px;
    width: 103px;
    background: #FFF;
    color: var(--primary-color);
    box-shadow: 3px 4px 5px 0 #DDD, -3px 4px 5px 0 #DDD;
}

#navbar .menu:hover .sub-menu {
    display: block;
}

#navbar .sub-menu-items:hover {
    background: #CCC;
    color: var(--primary-color);
    cursor: pointer;
}

/*IMAGE*/
#image {
    background: #000 url('../images/sailboat.jpg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
}

#image .img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
    align-items: flex-start;
    height: 70vh;
    padding: 0 2rem;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
}

#image h3 {
    padding: 0.5rem;
    background: #000;
}

#image h3:hover {
    background: #009688;
    cursor: pointer;
}


/*OUR TEAM*/

#team .member-container {
    display: flex;
    justify-content: space-around;
}

#team .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team .member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/*WORK*/

#work .work-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
    grid-gap: 1rem;
    padding: 2rem;

}

#work .cards {
    background: #FFF;
    color: #000;
}

#work .cards ul li {
    padding: 0.7rem;
}


/*add button*/

.add-btn {
    /*    margin-top: 8px;*/
    background: #009688;
    position: absolute;
    right: 20px;
    top: 1400px;
    width: 3rem;
    text-align: center;
    border-radius: 100%;
    padding: 0.3rem;
    font-size: 26px;
    color: #FFF;
}

/*PRICING*/
.pricing-container {
    padding: 2rem;
}

.header-container {
    text-align: center;
}

.price-plan {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 1rem;
}

.plan-name {
    background: #000;
    padding: 1rem;
    text-align: center;
    color: #FFF;
}

.price-card {
    border: solid 1px black;
    text-align: center;
}

.price-card:hover {
    box-shadow: 10px 10px 10px -10px #333, -10px -10px -10px 10px #333;
}

ul > li {
    padding: 1rem 0;
    border-bottom: solid 1px black;
}

.signup-btn {
    background: #009688;
    color: #FFF;
    padding: 0.1rem;
    width: 5rem;
    margin: 0 auto;
}

.signup {
    padding: 0.5rem;
    height: 70px;
    background: #CCC;
}

.pro .plan-name {
    background: #CCC;
}

.footer {
    background: #000;
    color: #FFF;
    text-align: center;
}

.side-panel {
    display: none;
    top: 0;
    z-index: 99999;
    height: 100vh;
    width: 400px;
    position: fixed;
    background-color: #FFF;
    font-size: 2rem;

}

.add-btn:hover {
    cursor: pointer;
    background: #FFF;
    transition: background .3s;
    color: #000;
}

.signup-btn:hover {
    background: #FFF;
    transition: background .3s;
    cursor: pointer;
    color: #000;
}

.close:hover {
    background: #CCC;
    transition: background .3s;
    cursor: pointer;
}

.side-panel li {
    border-bottom: none;
}

/*CONTACT US*/

input {
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
}

#contact .contact-us {
    font-size: 2rem;
}

#contact .contact-form {
    height: 20rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .info{
    width: 40rem;
    padding: 1rem 2rem;
    background-color: #FFF;
    box-shadow: 2px 2px 2px 2px #CCC;
}


/*Scrollbars*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
